
<style>
  #button {
  color: black;
  background-color: lightblue;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: left;
  text-align: left;
  height: 2em;
  width: 7em;
  font-size: medium;
  font-weight: 60;
  //margin: 3px;
  text-decoration: none;
  padding: 5px;
}

</style>
<h2>all orders</h2>

<h3 align="right"><%= link_to 'back', home_index_path %></h3>

<% @order_items.each do |order_item| %>
  <div class="column">
    <%if order_item.product.image.present?%>
       <%= image_tag order_item.product.image, :size => "100x150" %>
    <%end%>
  </div>      
  
        <div class="column">
          <h4>price = <%= order_item.total_price%></h4>
          <h4> product id = <%= order_item.product_id%><br></h4>
          <h4>name = <%= order_item.product.name%></h4>
          <h4>product_quantity =<%= order_item.product_quantity%></h4>
          <h3>created_at =<%= order_item.created_at%></h3>
          <h3><strong>status = <%= order_item.order.status%></strong></h3>
          <%#byebug%>
           
          <%= link_to "show details of order ", show_order_item_order_path(order_item.id)%>



       
          <% if order_item.order.status == "created" or order_item.order.status == "paymentcompleted" %>
              <h4 id="button"><%= link_to "cancel order", cancel_order_order_path(order_item.order_id),
                                                         method: :patch,data: { confirm: "Are you sure?" } %></h4>
          <%end%>
        </div><br>
<%end%>

  


    


